// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'menu';
@import 'style';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@media (min-width: 1200px) {
  .container {
    min-width: 1400px !important;
  }
}