.main-menu-items {
  margin-left: 30px;

  a {
    color: #1b4b72 !important;
    padding: 5px 20px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 14px;
  }

  a:hover {
    color: #f4b0af;
  }

  a:active {
    color: #e2e6ea;
  }
}