.custom-card {
  width: 100%;
  display: flex;

  &__left {

    color: #2fa360;
    padding-top: 8px;
    width: 50%;
    font-family: "Courier New";
  }

  &__right {
    width: 50%;
    text-align: right;
  }
}

.form-label {
  font-weight: bold;
  font-family: "Courier New";
  font-size: 12px;
  color: #6c757d;
}

.form-label.required:after
{
  color: red;
  content: " *";
}

.child-details {
  width: 100%;
  display: flex;

  &__left {
    width: 40%;
    margin: 20px;
  }

  &__right {
    width: 60%;
    margin: 20px;
  }
}

.sponsorship-details {
  margin: 10px 20px;
}